<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head th:replace="layout/head">
<title>PLANET 중고장터</title>
</head>
<body>
	<div class="page-layout">
		<div th:replace="layout/header"></div>

		<div class="content-container">
			<div th:replace="layout/sidebar"></div>
			<main class="main-content">
				<section class="py-5">
					<div class="container px-4 px-lg-5 mt-5">
						<div
							class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
							<th:block th:if="${pv.totalCount==0}">
								<tr>
									<td colspan="5" class="sub_title" style="text-align: center;">
										등록된 글이 없습니다.</td>
								</tr>
							</th:block>
							<th:block th:if="${pv.totalCount>0}">
								<div th:each="vo : ${pv.list}" class="col mb-5">
									<div class="card h-100">
										<div class="card-body p-4">
											<div class="text-center">
												<h5 class="fw-bolder">[[${vo.id}]]</h5>
												<span>[[${vo.title}]]</span>
											</div>
										</div>
										<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
											<div class="text-center">
												<form th:action="@{'/product/' + ${vo.id}}" method="get">
													<button class="btn btn-outline-dark" type="submit">보러가기</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
					<table>
						<tr>
							<td colspan="5" class="sub_title">[(${pv.pageList2})]</td>
						</tr>
					</table>


				</section>
			</main>
		</div>
	</div>
	<div th:insert="layout/footer"></div>
</body>
</html>