<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<style type="text/css">
div {
	border: 1px solid gray;
	padding: 5px;
	margin-bottom: 5px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: green;
}

a:hover {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:visited {
	text-decoration: none;
	color: black;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document)
			.ready(
					function() {
						$("#loadCategories")
								.click(
										function() {
											$
													.ajax({
														url : '/categorylist', // 서버의 URL 주소
														type : 'GET',
														dataType : 'json',
														success : function(
																categories) {
															$('#categoryList')
																	.empty(); // 목록을 비우고 새 데이터로 채움
															$
																	.each(
																			categories,
																			function(
																					index,
																					category) {
																				$(
																						'#categoryList')
																						.append(
																								$(
																										'<li>')
																										.text(
																												category.id
																														+ " - "
																														+ category.name));
																			});
														},
														error : function() {
															alert('Error loading categories');
														}
													});
										});
					});
</script>
</head>
<body>

	<div>
		<th:block th:if="${session.user != NULL}">
			[[${session.user.principal.username}]]
			([[${session.user.principal.name}]])
			님 반갑습니다.
			<br />
			[ <a th:href="@{/logout}">Logout</a> ]
			[ <a th:href="@{/memberInfo}">회원정보</a> ]
		</th:block>
		<th:block th:if="${session.user == NULL}">
			로그인 화면이 나와야 한다.
			<br />
			<a th:href="@{/login}">Login</a> | 
			<a th:href="@{/join}">회원가입</a>
		</th:block>
	</div>

	<button id="loadCategories">Load Categories</button>
	<ul id="categoryList"></ul>



</body>
</html>