<!doctype html>
<html lang="ko">
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>회원정보 수정</title>

	<!-- /container -->
	<!-- 다음 우편번호 API를 이용하려면 포함해야 한다. -->
	<script
		src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!-- Ajax처리를 위한 포함 -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
	// 중복확인하는 함수
	function useridCheck(){
		let email = $("#email").val();
		if(email.length>=5){
			if(email.indexOf(" ")!=-1){
				$("#message").html("공백은 포함할수 없어요").css('color','red');
			}else{
				// Ajax를 호출하여 처리 한다.
				axios.get('/test/emailCheck?email='+email)
				  .then(function (response) {
				    // 성공 핸들링
				    // alert(response.data);
				    if(response.data*1==0){
				    	$("#message").html("사용가능한 email입니다.").css('color','blue');
				    }else{
				    	$("#message").html("사용 불가능한 email입니다.").css('color','red');
				    }
				  })
				  .catch(function (error) {
				    // 에러 핸들링
				    console.log(error);
				  })
				  .finally(function () {
				    // 항상 실행되는 영역
				  });
			}
		}else{
			$("#message").html("").css('color','black');
		}
	}

	// 다음 우편번호 API를 이용한 우편번호 검색 함수
	function daumPostcode() {
	    new daum.Postcode({
	        oncomplete: function(data) {
	            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
	
	            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
	            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	            var roadAddr = data.roadAddress; // 도로명 주소 변수
	
	            // 우편번호와 주소 정보를 해당 필드에 넣는다.
	            document.getElementById('zipcode').value = data.zonecode;
	            document.getElementById("addr").value = roadAddr;
	        }
	    }).open();
	    document.getElementById("addr_d").focus();
	}

</script>


	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->


<link rel="preconnect" href="https://fonts.googleapis.com">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">
	
	
	
<body class="bg-gradient-primary">
	<h2>
		<div>
			<th:block th:if="${session.user != NULL}">
			[[${session.user.principal.username}]]
			([[${session.user.principal.name}]])
			님 반갑습니다.
		</th:block>
		</div>
		<br />
	</h2>
	<div>
		<form method="POST" action="updateOK" class="form-group">
			<h2 >회원정보 수정</h2>
			<div>
				<div>
					<div class="col-auto">
						<input name="email" id="email" type="text" onkeyup="mailCheck()"
							class="form-control" placeholder="사용하실 email을 입력하세요"
							autofocus="autofocus" />
					</div>
					<div class="col-auto">
						<span id="message">사용가능한 email 입니다.</span>
					</div>
				</div>

				<input name="password" type="password" class="form-control"
					placeholder="사용자 비밀번호 입력" style="margin-bottom: 8px;" /> <input
					name="nickname" type="text" class="form-control" placeholder="닉네임"
					style="margin-bottom: 8px;" /> 
					<input name="name" type="text"
					class="form-control" placeholder="사용자 실명 입력"
					style="margin-bottom: 8px;" /> 
					<input name="phonenumber"
					type="text" class="form-control" placeholder="사용자 전화번호 입력"
					style="margin-bottom: 8px;" />

				<div class="row g-2 align-items-center" style="margin-bottom: 8px;">
					<div class="col-auto">
					
						<input type="text" name="zipcode" id="zipcode"
							class="form-control" aria-describedby="passwordHelpInline"
							readonly="readonly">
					</div>
					<div class="col-auto">
						<input type="button" value="우편번호 검색" onclick="daumPostcode()" />
					</div>
				</div>
				<input name="addr" id="addr" type="text" class="form-control"
					placeholder="사용자 주소" style="margin-bottom: 8px;" /> <input
					name="addr_d" id="addr_d" type="text" class="form-control"
					placeholder="사용자 상세 주소" style="margin-bottom: 8px;" />


				<div style="text-align: center;">
					<button type="submit" onclick="location.href='/mypage'">정보수정</button>
					<button type="button" onclick="location.href='/'">로그아웃?</button>
				</div>
			</div>
		</form>

	</div>

</body>

</html>
