<!DOCTYPE html>
<html>
<head>
<title>비밀번호 변경</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">   
    $(document).ready(function() {
        $("#passwordForm").submit(function(event) {
            event.preventDefault(); // 폼 제출 기본 동작 방지
            var password = $("#password").val();
            var newpassword = $("#newpassword").val();
            $.ajax({
                url: '/newpassword',
                type: 'POST',
                data: {
                	password: password,
                	newpassword: newpassword
                },
                success: function(response) {
                    window.location.href = response; 
                },
                error: function() {
                    alert("비밀번호 변경 실패");
                }
            });
        });
    });
    </script>


</head>
<body>
 
<form id="passwordForm" method="POST" action="newpassword" class="form-group">
 
        현재 비밀번호: 
<input type="password" id="password" name="password"><br>
        새 비밀번호: 
<input type="password" id="newpassword" name="newpassword"><br>
<button type="submit">비밀번호 변경</button>
</form>
</body>
</html>