<!DOCTYPE html>
<html>
<head>
<title>비밀번호 변경</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
<link href="css/memberstyle.css" rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	function passwordForm() {
		var password = $("#password").val();
		var newpassword = $("#newpassword").val();
		var confirmpassword = $("#confirmpassword").val();

		if (newpassword !== confirmpassword) {
			alert("새 비밀번호와 확인 비밀번호가 일치하지 않습니다.");
			return; // Don't submit form
		}

		$.ajax({
			url : '/newpassword',
			type : 'POST',
			data : {
				password : password,
				newpassword : newpassword
			},
			success : function(response) {
				window.location.href = response;
			},
			error : function(xhr, status, error) {
				var errorMessage = xhr.responseText || "비밀번호를 다시 확인해 주세요.";
				alert(errorMessage);
			}
		});
	}
</script>
</head>
<body>
	<form id="passwordForm" method="POST" action="newpassword"
		class="form-group">
		<div class="container">
			현재 비밀번호 <input type="password" id="password" name="password"><br>
			새 비밀번호 <input type="password" id="newpassword" name="newpassword"><br>
			새 비밀번호 확인 <input type="password" id="confirmpassword"
				name="confirmpassword"><br> <input type="button"
				value="비밀번호 수정" onClick="passwordForm()">
		</div>
	</form>
</body>
</html>