<!DOCTYPE html>
<html>
<head>
<title>비밀번호 변경</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">   
    function passwordForm(){
            var password = $("#password").val();
            var newpassword = $("#newpassword").val();
            $.ajax({
                url: '/newpassword',
                type: 'POST',
                data: {
                	password: password,
                	newpassword: newpassword
                },
                success: function(response) {
                    window.location.href = response; 
                },
      		  error : function(xhr, status, error) {
				  var errorMessage = xhr.responseText || "비밀번호를 다시 확인해 주세요.";
		            alert(errorMessage);
                }
            });
        }

    </script>


</head>
<body>
 
<form id="passwordForm" method="POST" action="newpassword" class="form-group">
 
        현재 비밀번호: 
<input type="password" id="password" name="password"><br>
        새 비밀번호: 
<input type="password" id="newpassword" name="newpassword"><br>
			<input type="button" value="비밀번호 수정" onClick="passwordForm()">
</form>
</body>
</html>